<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../Styles/index.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <title>Home</title>
</head>
<body>
  <nav>
    <ul>
      <li>
        <span class="material-icons">
          <a href="#">person</a>
        </span>
      </li>
      <li>
        <span class="material-icons">
          <a href="#">home</a>
        </span>
      </li>
      <li>
        <span class="material-icons">
          <a href="#">contact_page</a>
        </span>
      </li>
      <li>
        <span class="material-icons">
          <a href="#">query_stats</a>
        </span>
      </li>
      <li>
        <span class="material-icons">
          <a href="#">construction</a>
        </span>
      </li>
      <li>
        <span class="material-icons">
          <a href="#">email</a>
        </span>
      </li>
      <li>
        <span class="material-icons">
          <a href="#">supervised_user_circle</a>
        </span>
      </li>
      <li>
        <span class="material-icons">
          <a href="#">logout</a>
        </span>
      </li>
    </ul>
  </nav>
  <!-- MAIN -->
  <main>
  <h1>Bienvenido "userName", que tengas un gran día :D</h1>
  <section class="section1">
    <h2>Publicaciones</h2>
    <article>
      <div class="details">
        <h3>Title</h3>
        <p>01/01/2025</p>
        <div class="author">
          <p>by: </p>
          <!-- <img src="" alt=""> -->
          <span class="material-icons">
            person
          </span>
        </div>
      </div>
      <div class="post content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In eum ipsum earum? Omnis quos illo non reiciendis molestiae officia recusandae aut commodi! Repellat ut odit dignissimos earum ipsam quaerat iste!</p>
        <span class="material-icons">
          image
        </span>
      </div>
      <div class="post stadistc">
        <div class="like">
          <span class="material-icons">
            favorite
          </span>
          <p>Favorites</p>
        </div>
        <div class="dislike">
          <span class="material-icons">
            heart_broken
          </span>
          <p>Not Interested</p>
        </div>
        <div class="watch">
          <a href="#">seen it</a>
        </div>
        <div class="comments">
          <a href="#">comments</a>
        </div>
      </div>
    </article>
  </section>
  <section class="section2">

  </section>
  <section class="section3">

  </section>
  </main>
</body>
</html>