<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../Styles/index.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
  <title>Home</title>
</head>
<body>
  <nav>
    <ul>
      <li>
        <span class="material-icons">
          <a href="#">person</a>
        </span>
      </li>
      <li>
        <span class="material-icons">
          <a href="#">home</a>
        </span>
      </li>
      <li>
        <span class="material-icons">
          <a href="#">contact_page</a>
        </span>
      </li>
      <li>
        <span class="material-icons">
          <a href="#">query_stats</a>
        </span>
      </li>
      <li>
        <span class="material-icons">
          <a href="#">construction</a>
        </span>
      </li>
      <li>
        <span class="material-icons">
          <a href="#">email</a>
        </span>
      </li>
      <li>
        <span class="material-icons">
          <a href="#">supervised_user_circle</a>
        </span>
      </li>
      <li>
        <span class="material-icons">
          <a href="#">logout</a>
        </span>
      </li>
    </ul>
  </nav>
  <!-- MAIN -->
  <main>
  <h1>Bienvenido "userName", que tengas un gran día :D</h1>
  <section class="main">
    <section class="posts">
      <h2>Publicaciones</h2>
      <article class="post_card">
        <div class="post_details">
          <h3>Title</h3>
          <div class="author">
            <p>01/01/2025</p>
            <p>by: </p>
            <!-- <img src="" alt=""> -->
            <span class="material-icons">
              person
            </span>
          </div>
        </div>
        <div class="post_content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In eum ipsum earum? Omnis quos illo non reiciendis molestiae officia recusandae aut commodi! Repellat ut odit dignissimos earum ipsam quaerat iste!</p>
          <img src="https://i.imgur.com/SZQE7rF.gif" alt="example image">
        </div>
        <div class="post_statistics">
          <div class="like">
            <span class="material-icons">
              favorite
            </span>
            <a>Favorites</a>
          </div>
          <div class="dislike">
            <span class="material-icons">
              heart_broken
            </span>
            <a>Not Interested</a>
          </div>
          <div class="watch">
            <span class="material-icons">
              visibility
            </span>
            <a href="#">seen it</a>
          </div>
          <div class="comments">
            <span class="material-icons">
              question_answer
            </span>
            <a href="#">comments</a>
          </div>
        </div>
      </article>
    </section>
    <!-- Section Rigth -->
    <section class="activities_day">
      <article class="calendar">
        <h2>February 2025</h2>
        <div class="calendar_grid">

        </div>
      </article>
      <article class="activities">
        <h2>Today´s activities</h2>
        <div class="activitie_list">
          <ul>
            <li>ACTIVITIE 1</li>
            <li>ACTIVITIE 2</li>
            <li>ACTIVITIE 3</li>
            <li>ACTIVITIE 4</li>
          </ul>
        </div>
      </article>
      <article class="weather">
        <h2>Weather</h2>
        <div class="weather_card">
          <h3>Today's weather</h3>
          <span class="material-icons">
            cloud
          </span>
          <div class="weather_card_info">
            <p>35°</p>
            <p>Sunny</p>
          </div>
        </div>
      </article>
      <article class="forecast">
        <h2>Forecast</h2>
        <div class="forecast_grid">
          <div class="forecast_tomorrow">
            <h3>Today's weather</h3>
          <span class="material-icons">
            cloud
          </span>
          <div class="weather_card_info">
            <p>35°</p>
            <p>Sunny</p>
          </div>
          </div>
          <div class="forecast_tomorrow2">
            <h3>Today's weather</h3>
            <span class="material-icons">
              cloud
            </span>
            <div class="weather_card_info">
              <p>35°</p>
              <p>Sunny</p>
            </div>
          </div>
          <div class="forecast_tomorrow3">
            <h3>Today's weather</h3>
            <span class="material-icons">
              cloud
            </span>
            <div class="weather_card_info">
              <p>35°</p>
              <p>Sunny</p>
            </div>
          </div>
          <div class="forecast_tomorrow4">
            <h3>Today's weather</h3>
            <span class="material-icons">
              cloud
            </span>
            <div class="weather_card_info">
              <p>35°</p>
              <p>Sunny</p>
            </div>
          </div>
        </div>
      </article>
    </section>
  </section>
  </main>
</body>
</html>