<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <title>Home</title>
</head>
<body>
  <nav>
    <ul>
      <li>
        <span class="material-icons">
          <a href="#">person</a>
        </span>
      </li>
      <li>
        <span class="material-icons">
          <a href="#">home</a>
        </span>
      </li>
      <li>
        <span class="material-icons">
          <a href="#">contact_page</a>
        </span>
      </li>
      <li>
        <span class="material-icons">
          <a href="#">query_stats</a>
        </span>
      </li>
      <li>
        <span class="material-icons">
          <a href="#">construction</a>
        </span>
      </li>
      <li>
        <span class="material-icons">
          <a href="#">email</a>
        </span>
      </li>
      <li>
        <span class="material-icons">
          <a href="#">supervised_user_circle</a>
        </span>
      </li>
      <li>
        <span class="material-icons">
          <a href="#">logout</a>
        </span>
      </li>
    </ul>
  </nav>
</body>
</html>