body {
  margin: 0;
  display: flex;
  flex-direction: row;
  background-image: url("https://i.imgur.com/RAV25ug.jpeg");
  background-size: cover;
  background-attachment: fixed;
  color: white;
}
nav {
  width: 5%;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  position:fixed;
  top:0;
  /* Glass efect */
  background: rgba(255, 255, 255, 0.123);
  box-shadow: 0 4px 30px rgb(0, 0, 0);
  backdrop-filter: blur(16px);
}
nav ul {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
nav ul li{
  list-style: none;
  margin: 32px 0;
}
nav ul li a {
  text-decoration: none;
  font-size: 32px;
  color: rgb(255, 255, 255);
}
nav ul li a:hover{
  color: rgb(0, 112, 47);
}

/* Main Section */
main {
  width: 95%;
  margin-left: 5%;
  background: rgba(255, 255, 255, 0.103);
  backdrop-filter: blur(8px);
}
.main {
  display: flex;
  flex-direction: row;
}

/* Left Section (Post) */
.posts {
  width: 60%;
  margin: 12px;
}
.post_card {
  margin: 12px;
  padding: 12px;
}
.post_card:hover{
  backdrop-filter: blur(8px) saturate(50%);
  background-color: rgba(255, 255, 255, 0.062);
  border-radius: 8px;
}
.post_details {
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}
.post_details h3 {
  font-size: 32px;
  margin: 0;
}
.post_details p {
  margin: 0;
}
.post_details .author {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.post_card .post_content {
  width: 100%;
}
.post_card .post_content p {
  width: 90%;
  margin: 12px 5%;
  text-align: justify;
}
.post_card .post_content img{
  object-fit: fill;
  margin: 0 5%;
  width: 90%;
}
.post_statistics {
  margin: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: last baseline;
}
.post_statistics .like,
.post_statistics .dislike,
.post_statistics .watch,
.post_statistics .comments {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.post_statistics .like a,
.post_statistics .dislike a,
.post_statistics .watch a,
.post_statistics .comments a {
  font-size: 12px;
}

/* Rigth Section (Activities) */
.activities_day{
  width: 40%;
  height: 1000px;
  margin: 12px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.activities_day .calendar{
  grid-area: 1 / 1 / 2 / 4;
}
.activities_day .activities{
  grid-area: 1 / 4 / 2 / 5;
}
.activities_day .wather_section{
  grid-area: 2 / 1 / 3 / 5;
}
.wather_section .weather{
  text-align: center;
}
.wather_section .forecast_grid{
  display: flex;
  justify-content: space-around;
}
.wather_section .forecast_grid .forecast_predict{
  text-align: center;
}
.activities_day .calendar .calendar_grid{
  margin: 8px;
  height: 60%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}